
<div>
	<%= link_to 'Ask a question' , new_question_path %>
</div>

<h2>Search for an answer</h2>
<div>

	<% questions.each do |q| %>
		<hr />
		<p style="font-weight:bold"><%= link_to q.title, q%></p>
		<p><%= q.body %></p>
	<% end %>

</div>