<hr />
<div>
	<p>
		<span><%= answer.body %></span>
		<span><%= edit_link_for answer %></span>
		<span><%= delete_link_for answer %></span>
		<div><span>by </span><span><%= answer.creator.email %></span></div>
	</p>
</div>